@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    padding: 33px 20px;
    font-family: 'Varela Round', sans-serif;
    align-items: center;
}
.logo a{
    text-decoration: none;
}
a{
    text-decoration: none;
}
ul{
    display: flex;
}
ul li{
    margin-right: 33px;
    list-style: none;
}
ul li a{
    text-decoration: none;
}
.btn{
    margin-right: 16px;
}

  /* -------------------------
  navigation var end
  ----------------------------------- */


  /* -------------------------------
  This is Home section
  -----------------------------------  */
.home-left h1{
    font-size: 35px;
}
.home{
    border: 2px solid red;
    height: 80vh;
    display: flex;
    font-family: 'Comfortaa', cursive;
    /* justify-content: center;
    align-items: center; */
}
.home-left{
    /* border: 1px solid green; */
    width: 50%;
    height: 100%;
    padding: 120px;
}
.home-right{
    /* border: 1px solid green; */
    width: 50%;
    height: 100%;
}

.home-btn{
    margin-top: 9px;
    padding:7px 5px ;
}